@media only screen and ( max-width:1000px) {
    .header{
        height: auto;
    }
    .header__navbar-nav {
        display: none;
        background: #bbb;
        text-align: center;
    }
    .main-header{
        height: auto;
    }
    .header__navbar-nav ul li {
        padding: 8px 0;
    }
    .dark-mode{
        display: flex;
        /* position: absolute;
        right: 130px;
        top: 36px; */
    }
    .header__navbar .dark-mode button{
        display: block;
        width: 34px;
        height: 34px;
        background-color: var(--color-blue);
        border: none;
        color: white;
        border-radius: 4px;
        margin-left: 10px;
    }

    .nav-mobile{
        display: flex;
        flex-direction: column;
    }
}