
:root{
    --color-title: #000;
    --color-orange: #ff7361;
    --color-blue: #6f7edb;
    --color-footer: #100f19;
    --bg-color:#fff;
    --font-color: #707070;
    --fontz-nav: 15px;
    --fontz-logo: 38px;
    --fontz-banner: 60px;
    --fontz-title: 42px;
    --layer: linear-gradient(to right, rgba(255,255,255,.95), rgba(255,255,255,0));
}
.dark-theme{
    --color-title:#fff;
    --font-color: #b7b7b7;
    --bg-color:#151421;
    --layer: linear-gradient(to right, rgba(0,0,0,.95), rgba(0,0,0,0)); 
}
body{
    font-family: "Noto Sans JP", sans-serif;
    background: var(--bg-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}

ul,
li {
    list-style: none;
    
}
.f-weight{
    font-weight: 700;
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { max-width: 1200px; }
  }

  .header{
    height: 100px;
    display: grid;
    align-items: center;
  }
#header-scroll{
    overflow: hidden;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;

}
.navbar-scroll{
    height: 70px;
}
.header__navbar{
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.header__navbar-logo{
    font-size: var(--fontz-logo);
    cursor: pointer;
    color: var(--color-title);
    transition: 0.4s;
}
.header__navbar-logo span{
    color: var(--color-orange);
    font-weight: 700;
}
.header__navbar-nav{
    display: flex;
    align-items: baseline;
    padding-right: 70px;
}
.fa-chevron-down{
    font-size: 12px;
    padding-left: 4px;
    color: var(--color-title);
}

.fa-moon{
    padding-left: 20px;
    font-size: 20px;
}
.header__navbar-nav ul li{
    padding: 0 12px;
}
.header__navbar-nav ul li .nav-active{
    color: var(--color-blue);
}
.header__navbar-nav ul li a{
    color: var(--color-title);
    font-weight: 700;
    transition: 0.4s ;
}
.header__navbar-nav ul li a:hover{
    color: var(--color-blue);
    transition: 0.4s ;

}

.header__navbar-nav ul{
    display: flex;
}

.search-right{}

.search-right form{
    display: flex;
    align-items: center;
}

.search-right form input{
    font-size: 14px;
    padding: 12px 50px 12px 15px;
    border: 1px solid rgb(0 0 0 / 26%);
    border-radius: 30px;
    color: var(--color-title);
    background: #fff;
}
.search-right form input:focus{
   outline: none;
}

.btn-search{
    position: absolute;
    color: #fff;
    right: 0;
    padding: 6px 10px;
    background: var(--color-orange);
    border-radius: 30px;
    margin: 0 4px;
}

.banner{
    background: url(../img/banner.png);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: Center;
    min-height: 100vh;
    align-items: center;
    z-index: 0;
    position: relative;
}
.banner::before{
    content: '';
    background: var(--layer);
    position: absolute;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.title-banner{
    font-size: var(--fontz-banner);
    font-weight: 700;
    color: var(--color-title);
    transition: 0.4s;
}

.btn-style{
    padding: 12px 30px 14px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background: var(--color-orange);
    border-radius: 4px;
    border: none;
    transition: 0.4s;
}
.btn-style:hover{
    color: #fff;
    background: var(--color-blue);
    transition: 0.4s;
}

.btn-contact{
    margin-left: 10px;
    padding: 12px 30px 14px;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-title);
    transition: 0.4s;
}

.btn-contact:hover{
    background: var(--color-blue);
    color: #fff;
}

/*THEME DARRK*/
.dark-mode{
    padding-left: 10px;
}
#icon{
    width: 30px;
    cursor: pointer;
}

.features{
   padding-top: 106px;
}
.features__title{
    text-align: center;
    max-width: 500px;
}
.features__title p{
    margin-bottom: unset;
    color: var(--font-color);
    font-weight: 500;
}

.features__title h3{
    font-size: var(--fontz-title);
    color: var(--color-title);
}

.features__title h3 span{
    color: var(--color-title);
    font-weight: 700;
}

.features__box{
    padding-top: 70px;
}

.box-area{
    padding: 50px 35px;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 12%);
}
.box-area:hover{
    transition: .3s;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

.box-area i{
    font-size: 45px;
    color: var(--color-blue);
}
.box-area h4 {
    margin-top: 25px;
    margin-bottom: 15px;
}

.box-area h4 a{
    color: var(--color-title);
    font-weight: 600;
    font-size: 22px;
    transition: 0.4s;
}
.box-area h4 a:hover{
    color: var(--color-blue);
    transition: 0.4s;
}

.box-area p {
    color: var(--font-color);
    font-size: 16px;
    line-height: 28px;
}

.homepage{
    padding-top: 200px;
}

.page-title h3{
    font-size: var(--fontz-title);
    color: var(--color-title);
}

.page-title h3 span{
    font-weight: 600;
    color: var(--color-title);
}

.page-title p {
    color: var(--font-color);
}

.progress-info {
    margin-bottom: 25px;
    justify-content: space-between;
}
.progress-info h6{
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 17px;
    color: var(--color-title);
    margin-bottom: 6px;
    font-weight: 600;
}
.progress-info span{
    font-size: 17px;
    color: var(--color-title);
    margin-bottom: 6px;
    font-weight: 600;
}
.bar1{width: 80%;}
.bar2{width: 95%;}
.bar3{width: 90%;}

.progress{
    background-color: var(--bg-color);
    height: 0.5em;
}
.progess-bar {
    background-color: #ff4c4c;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

.services{
    margin-top: 111px;
    background: url(../img/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    padding-bottom: 70px;
}

.services::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 38%);
    z-index: -1;
}

.service__title{
    padding-top: 100px;
    max-width: 500px;
    text-align: center;
}

.service__title p{
    color: #fff;
    margin-bottom: unset;
}
.service__title h4{
    color: #fff;
    font-size: var(--fontz-title);
}

.service__box{
    padding-top: 40px;
}

.grid-all{
    grid-gap:12px;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-1{
    padding: 40px 30px;
    border-radius: 4px;
    background-color:var(--bg-color);
    text-align: center;
}

.grid-1 span i {
    font-size: 45px;
    color: #ff7361;
}

.grid-1 a{
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    margin-top: 25px;
    color: var(--color-title);
    display: block;
}

.professionals{
    padding-top: 100px;
}

.professionals__title{
    max-width: 500px;
    text-align: center;
}

.professionals__title p{
    color: var(--font-color);
    margin-bottom: unset;
}
.professionals__title h4{
    color: var(--color-title);
    font-size: var(--fontz-title);
}

.professionals__team{
    padding-top: 60px;
}

.team-single:hover{
    box-shadow: 0px 17px 26px -16px rgb(0 0 0 / 41%);
}

.info-avt{
    position: relative;
    overflow: hidden;
}

.info-avt a img{
    border-radius: 4px 4px 0 0;
}

.info-social{
    position: absolute;
    bottom: -227px;
    background: rgb(8 8 8 / 29%);
    padding: 20px 0;
    transition: 0.5s;
    text-align: center;
    width: 100%;
}

.team-single:hover .info-social{
    bottom: 0;
}

.info-social a{
    background: #fff;
    width: 28px;
    height: 28px;
    display: inline-block;
    border-radius: 50%;
    color: var(--color-blue);
    font-size: 14px;
    line-height: 28px;
}

.info-name{
    padding: 30px;
    padding-top: 20px;
    text-align: center;
}

.info-name h5 a{
    color: var(--color-title);
    font-weight: 700;
    transition: 0.4s;
}
.info-name h5 a:hover{
    color: var(--color-blue);
    transition: 0.4s;
}
.info-name small{
    color: #404040;
}

.counter-up{
    background: url(/assets/img/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: Center;
    background-attachment: fixed;
    align-items: center;
    z-index: 1;
    position: relative;
    margin-top: 70px;
}

.counter-up::before{
    content: '';
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 38%);
    z-index: -1;
}

.counter{
    font-size: 46px;
    font-weight: 600;
    color: #fff;
}

.count-text{
    text-transform: uppercase;
    color: #fff;
}