
:root{
    --color-title: #000;
    --color-orange: #ff7361;
    --color-blue: #6f7edb;
    --color-footer: #100f19;
    --bg-color:#fff;
    --fontz-nav: 15px;
    --fontz-logo: 38px;
    --fontz-banner: 60px;
    --fontz-title: 42px;
    --layer: linear-gradient(to right, rgba(255,255,255,.95), rgba(255,255,255,0));
}
.dark-theme{
    --color-title:#fff;
    --bg-color:#151421;
    --layer: linear-gradient(to right, rgba(0,0,0,.95), rgba(0,0,0,0)); 
}
body{
    font-family: "Noto Sans JP", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}

ul,
li {
    list-style: none;
    
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { max-width: 1200px; }
  }

  .header{
    height: 100px;
    display: grid;
    align-items: center;
  }
#header-scroll{
    overflow: hidden;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;

}
.navbar-scroll{
    height: 70px;
}
.header__navbar{
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.header__navbar-logo{
    font-size: var(--fontz-logo);
    cursor: pointer;
    color: var(--color-title);
    transition: 0.4s;
}
.header__navbar-logo span{
    color: var(--color-orange);
    font-weight: 700;
}
.header__navbar-nav{
    display: flex;
    align-items: baseline;
    padding-right: 70px;
}
.fa-chevron-down{
    font-size: 12px;
    padding-left: 4px;
    color: var(--color-title);
}

.fa-moon{
    padding-left: 20px;
    font-size: 20px;
}
.header__navbar-nav ul li{
    padding: 0 12px;
}
.header__navbar-nav ul li .nav-active{
    color: var(--color-blue);
}
.header__navbar-nav ul li a{
    color: var(--color-title);
    font-weight: 700;
    transition: 0.4s ;
}
.header__navbar-nav ul li a:hover{
    color: var(--color-blue);
    transition: 0.4s ;

}

.header__navbar-nav ul{
    display: flex;
}

.search-right{}

.search-right form{
    display: flex;
    align-items: center;
}

.search-right form input{
    font-size: 14px;
    padding: 12px 50px 12px 15px;
    border: 1px solid rgb(0 0 0 / 26%);
    border-radius: 30px;
    color: var(--color-title);
    background: #fff;
}
.search-right form input:focus{
   outline: none;
}

.btn-search{
    position: absolute;
    color: #fff;
    right: 0;
    padding: 6px 10px;
    background: var(--color-orange);
    border-radius: 30px;
    margin: 0 4px;
}

.banner{
    background: url(/assets/img/banner.png);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: Center;
    min-height: 100vh;
    align-items: center;
    z-index: 0;
    position: relative;
}
.banner::before{
    content: '';
    background: var(--layer);
    position: absolute;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.title-banner{
    font-size: var(--fontz-banner);
    font-weight: 700;
    color: var(--color-title);
    transition: 0.4s;
}

.btn-style{
    padding: 12px 30px 14px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background: var(--color-orange);
    border-radius: 4px;
    border: none;
    transition: 0.4s;
}
.btn-style:hover{
    color: #fff;
    background: var(--color-blue);
    transition: 0.4s;
}

.btn-contact{
    margin-left: 10px;
    padding: 12px 30px 14px;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-title);
    transition: 0.4s;
}

.btn-contact:hover{
    background: var(--color-blue);
    color: #fff;
}

/*THEME DARRK*/
.dark-mode{
    padding-left: 10px;
}
#icon{
    width: 30px;
    cursor: pointer;
}